html 
    head   
        title MCU - TimeLine 
        style
            include ../static/css/base.css
            include ../static/css/about.css
    body 
        nav.navBar 
            ul  
                li.home
                    a(href="/") Home 
                li.about 
                    a(href="/About") About
                li.contact 
                    a(href="/Contact") Contact Us
            a(class= "mobile") &#9776;

            .sponsors 
                h1 Our Sponsors 
                div.grid
                    .sponsorImg 
                        img(src="../staticfiles/img/marvelStudio.png", alt="Marvel Studio")
                    .sponsorImg 
                        img(src="../staticfiles/img/hotstar.jpg", alt="Hotstar")
                    .sponsorImg 
                        img(src="../staticfiles/img/netflix.png", alt="Netflix")
                    .sponsorImg 
                        img(src="../staticfiles/img/sony.png", alt="Sony")
                    .sponsorImg 
                        img(src="../staticfiles/img/hollywood.jpg", alt="Hollywood")
                    .sponsorImg 
                        img(src="../staticfiles/img/amazonPrime.png", alt="Amazon Prime")     
        script(src="../staticfiles/js/about.js") 