html 
    head   
        title MCU - TimeLine 
        style
            include ../static/css/base.css
            include ../static/css/home.css
    body 
        nav.navBar 
            ul  
                li.home
                    a(href="/") Home 
                li.about 
                    a(href="/About") About
                li.contact 
                    a(href="/Contact") Contact Us
            a(class= "mobile") &#9776;
            
        div.heroImg
            div.text 
                p MCU(Marvel Cinematic Universe) Timeline in 2021

        div.movieContainer 
            div.movies
                img(src="../staticfiles/img/captainAmericaTheFirstAvenger.jpg", alt="Captian America The First Avenger")
                div.info CAPTAIN AMERICA THE FIRST AVENGER (2011)
            div.movies
                img(src="../staticfiles/img/captainMarvel.jpg", alt="Captain Marvel")
                div.info CAPTAIN MARVEL (2019)
            div.movies
                img(src="../staticfiles/img/IRONMAN.jpg", alt="Iron Man")
                div.info IRON MAN (2008)
            div.movies
                img(src="../staticfiles/img/IRONMAN2.jpg", alt="Iron Man 2")
                div.info IRON MAN 2 (2010) 
            div.movies
                img(src="../staticfiles/img/THEIncrediblehulk.jpg", alt="The Incredible Hulk")
                div.info THE INCREDIBLE HULK (2008) 
            div.movies
                img(src="../staticfiles/img/THOR.jpg", alt="THOR")
                div.info THOR (2011) 
            div.movies
                img(src="../staticfiles/img/MARVEL'S-THE-AVENGERS.jpg", alt="MARVEL'S THE AVENGERS")
                div.info MARVEL'S THE AVENGERS (2012) 
            div.movies
                img(src="../staticfiles/img/ThorDarkWorld.jpg", alt="THOR: THE DARK WORLD (2013)")
                div.info THOR: THE DARK WORLD (2013) 
            div.movies
                img(src="../staticfiles/img/IRONMAN3.jpg", alt="IRON MAN 3 (2013)")
                div.info IRON MAN 3 (2013)
            div.movies
                img(src="../staticfiles/img/captainAmericaTheWinterSoldier.jpg", alt="CAPTAIN AMERICA: THE WINTER SOLDIER (2014)")
                div.info CAPTAIN AMERICA: THE WINTER SOLDIER (2014) 
            div.movies
                img(src="../staticfiles/img/GuardiansOfGalaxy.jpg", alt="GUARDIANS OF THE GALAXY (2014)")
                div.info GUARDIANS OF THE GALAXY (2014) 
            div.movies
                img(src="../staticfiles/img/GuardiansOfGalaxyVol-2.jpg", alt="GUARDIANS OF THE GALAXY VOL. 2 (2017)")
                div.info GUARDIANS OF THE GALAXY VOL. 2 (2017) 
            div.movies
                img(src="../staticfiles/img/AVENGERS-AGE-OF-ULTRON.jpg", alt="AVENGERS: AGE OF ULTRON (2015)")
                div.info AVENGERS: AGE OF ULTRON (2015) 
            div.movies
                img(src="../staticfiles/img/ANT-MAN.jpg", alt="ANT-MAN (2015)")
                div.info ANT-MAN (2015) 
            div.movies
                img(src="../staticfiles/img/captainAmericaCivilWar.jpg", alt="CAPTAIN AMERICA: CIVIL WAR (2016)")
                div.info CAPTAIN AMERICA: CIVIL WAR (2016) 
            div.movies
                img(src="../staticfiles/img/blackWidow.jpg", alt="BLACK WIDOW (2021)")
                div.info BLACK WIDOW (2021) 
            div.movies
                img(src="../staticfiles/img/SPIDER-MANHOMECOMING.jpg", alt="SPIDER-MAN: HOMECOMING (2017)")
                div.info SPIDER-MAN: HOMECOMING (2017) 
            div.movies
                img(src="../staticfiles/img/BLACK-PANTHER.jpg", alt="BLACK PANTHER (2018)")
                div.info BLACK PANTHER (2018) 
            div.movies
                img(src="../staticfiles/img/DoctorStrange.jpg", alt="DOCTOR STRANGE (2016)")
                div.info DOCTOR STRANGE (2016) 
            div.movies
                img(src="../staticfiles/img/ThorRagnarok.jpg", alt="THOR: RAGNAROK (2017)")
                div.info THOR: RAGNAROK (2017) 
            div.movies
                img(src="../staticfiles/img/ANT-MAN-AND-THE-WASP.jpg", alt="ANT-MAN AND THE WASP (2018)")
                div.info ANT-MAN AND THE WASP (2018) 
            div.movies
                img(src="../staticfiles/img/AVENGERSINFINITYWAR.jpg", alt="AVENGERS: INFINITY WAR (2018)")
                div.info AVENGERS: INFINITY WAR (2018) 
            div.movies
                img(src="../staticfiles/img/AVENGERS-ENDGAME.jpg", alt="AVENGERS: ENDGAME (2019)")
                div.info AVENGERS: ENDGAME (2019) 
            div.movies
                img(src="../staticfiles/img/Spider-Man-Far-FromHome.jpg", alt="SPIDER-MAN: FAR FROM HOME (2019)")
                div.info SPIDER-MAN: FAR FROM HOME (2019) 
            div.movies
                img(src="../staticfiles/img/SHANG-CHI-AND-THE-LEGEND-OF-THE-TEN-RINGS.jpg", alt="SHANG-CHI AND THE LEGEND OF THE TEN RINGS (2021)")
                div.info SHANG-CHI AND THE LEGEND OF THE TEN RINGS (2021) 
            div.movies
                img(class="Eternals", src="../staticfiles/img/ETERNALS.jpg", alt="ETERNALS (2021)")
                div.info ETERNALS (2021) 
            div.movies
                img(src="../staticfiles/img/SpiderManNoWayHome.jpg", alt="SPIDER-MAN: NO WAY HOME (2021)")
                div.info SPIDER-MAN: NO WAY HOME (2021) 

        footer Copyright &copy;
          a(href="https://editorial.rottentomatoes.com/guide/marvel-movies-in-order/" , target= "_blank") MCU  

        script(src="../staticfiles/js/home.js") 
                
                